/* Mobile Devices */
@media screen and (max-width:576px) {
    /* Header responsive  */
    .header, .menu nav{
        flex-direction: column;

    }
    .logo{
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .menu nav ul li {
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
      }
    /* Banner Responsive */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-info h4 {
        font-size: 20px;
    }
    .banner-info h1 {
        font-size: 38px;
    }
    .banner-info ul li {
        font-size: 12px;
        font-weight: 500;
        text-transform: lowercase;
        list-style: none;
        margin-bottom: 8px;
    }
    /* about */
    .about-wrap{
        flex-direction: column;
    }
    .about-right {
        text-align: center;
     
        margin-left: 0px;
      }
/* Online */
.online h3 {
    font-size: 25px;
}  
.card-container{
    flex-direction: column;
    margin: 20px;
}
.card-img img{
    width: 100%;
}
/* Play section */
.play{
    flex-direction: column;
    gap: 50px;
}
.play-left h3 {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
}  
.play-left p{
    margin: 0 20px;
    text-align: center;
    
} 
.play2 {
    position: absolute;
    left: 0;
    bottom: -200px;
}
}

/* Tablet Device */
@media screen and (min-width:576px) and (max-width:992px){
    .header{
        padding-left: 50px;
        padding-right: 50px;
    }
    .banner{
        padding-left: 20px;
        padding-right: 20px;
        gap: 100px;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .about{
        padding: 50px;
    }
    .online{
        padding-left: 30px;
        padding-right: 30px;
    }
    .play-left p {
        margin-left: 50px;
    }
}